<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin: 2rem;
        background: #eee;
      }

      canvas {
        background: white;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="d-flex flex-row">
        <canvas
          id="canvas"
          width="800px"
          height="800px"
          @click="clickPosition"
        ></canvas>
        <div class="form-group ml-2">
          <label for="">X</label>
          <input
            type="text"
            class="form-control"
            aria-describedby="helpId"
            placeholder=""
            v-model="mouse.x"
          />
          <label for="">Y</label>
          <input
            type="text"
            class="form-control"
            aria-describedby="helpId"
            placeholder=""
            v-model="mouse.y"
          />
        </div>
      </div>
    </div>

    <!-- <drawing-board></drawing-board> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          mouse: {
            x: 0,
            y: 0,
          },
          tags: [],
        },
        methods: {
          getPosition(element) {
            var x = 0;
            var y = 0;
            // 搭配上面的示意圖可比較輕鬆理解為何要這麼計算
            while (element) {
              x += element.offsetLeft - element.scrollLeft + element.clientLeft;
              y += element.offsetTop - element.scrollLeft + element.clientTop;
              element = element.offsetParent;
            }

            return { x: x, y: y };
          },
          clickPosition(event) {
            var elem = document.querySelector("canvas");
            var position = this.getPosition(elem);
            this.mouse = {
              x: ((event.pageX - position.x) / (8.27 * 2)).toFixed(2),
              y: ((event.pageY - position.y) / (7.7 * 2)).toFixed(2),
            };
          },
          async fetch() {
            const res = await axios.get(
              "http://120.105.161.209:3000/position-tags?query=%7B%22where%22%3A%7B%7D%2C%22limit%22%3A100%2C%22page%22%3A1%7D"
            );
            this.tags = res.data.data;
          },
          draw() {
            console.log(this.tags);
            console.log("go draw");
            this.tags.forEach((el) => {
              let ctx7 = canvas.getContext("2d");
              ctx7.fillStyle = "#FF0000";
              ctx7.beginPath();
              ctx7.arc(
                el.x * 8.27 * 2,
                400 * 2 - el.y * 7.7 * 2,
                2,
                0,
                2 * Math.PI
              );
              ctx7.stroke();
              ctx7.fill();
            });
          },
          async push() {
            var c = document.getElementById("canvas");
            var ctx = c.getContext("2d");
            ctx.translate(0.5, 0.5);
            ctx.imageSmoothingEnabled = false;
            // this.draw();
            var image = new Image();
            image.src = "http://120.105.161.209/Nursemaid/image/7F.png";
            image.onload = async function () {
              if (image.complete) {
                await ctx.drawImage(this, 0, 0, c.scrollWidth, c.scrollHeight);
                console.log("complete");
                await app.draw();
              }
            };
          },
        },
        async created() {
          await this.fetch();
          await this.push();
        },
      });
    </script>
  </body>
</html>
