<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tags</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: antiquewhite;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div
            class="form-group col-2"
            v-for="(item,index) in TagData[0]"
            v-if="index!='updatedAt' && index!='_id'"
          >
            <div>
              <label for="">{{index}}</label>
              <input
                v-if="index!='isTag' && index!='position'"
                type="text"
                class="form-control"
                :name="index"
                aria-describedby="helpId"
                placeholder=""
                v-model="input[index]"
              />
              <select
                class="form-control"
                v-if="index=='isTag'"
                v-model="input[index]"
              >
                <option>true</option>
                <option>false</option>
              </select>
              <select
                class="form-control"
                v-if="index=='position'"
                v-model="input[index]"
              >
                <option v-for="item in Position">{{item.position}}</option>
              </select>
            </div>
          </div>
          <button
            class="btn btn-primary d-flex align-items-center my-auto"
            @click="add"
            style="height: 50px"
          >
            送出
          </button>
        </div>
      </div>

      <div class="container">
        <div class="row text-center">
          <div class="col-12 d-flex justify-content-center">
            <table class="table" v-if="TagData.length">
              <thead class="thead-inverse">
                <tr>
                  <th
                    v-for="(item,index) in TagData[0]"
                    v-if="index!='_id' && index!='updatedAt'"
                  >
                    {{index}}
                  </th>
                  <th>刪除</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item1,index1) in TagData">
                  <template v-for="(item,index) in TagData[0]">
                    <td scope="row" v-if="index!='_id' && index!='updatedAt'">
                      <input
                        type="text"
                        v-model="item1[index]"
                        style="width: 70px"
                        :style="{ width: index=='mac'?'150px':'50px'}"
                      />
                    </td>
                  </template>
                  <td>
                    <button class="btn btn-info" @click="putTag(item1)">
                      修改
                    </button>
                    <button @click="del(item._id)" class="btn btn-danger">
                      刪除
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            TagData: [],
            input: {
              rssi: "60",
            },
            Position: [],
          }
        },
        methods: {
          async add() {
            const res = await axios.post(
              "http://120.105.161.209:3000/position-tags",
              this.input
            )
            this.fecth()
          },
          async putTag(val) {
            console.log(val)
            const res = await axios.put(
              "http://120.105.161.209:3000/position-tags/" + val._id,
              val
            )
            await this.fecth()
          },
          async del(id) {
            console.log(id)
            const res = await axios.delete(
              "http://120.105.161.209:3000/position-tags/" + id
            )
            this.fecth()
          },
          async fecthPosition() {
            const res = await axios.get(
              "http://120.105.161.209:3000/position?query=%7B%22limit%22%3A100%7D"
            )
            this.Position = res.data.data
          },
          async fecth() {
            const res = await axios.get(
              "http://120.105.161.209:3000/position-tags?query=%7B%22limit%22%3A100%7D"
            )
            this.TagData = res.data.data
            this.TagData.forEach((el) => {
              delete el.createdAt
              delete el.__v
            })
          },
        },
        async created() {
          this.fecth()
          this.fecthPosition()
        },
      })
    </script>
  </body>
</html>
