<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space and Target</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin: 2rem;
        background-color: antiquewhite;
      }

      canvas {
        background: white;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div
        :style="{ display: positionList.length>0 && selectPosition.position!=''?'block':'none'}"
      >
        <table class="table text-center">
          <thead>
            <tr>
              <th
                v-for="(item,index) in positionList[0]"
                :style="{ display: index=='_id'?'none':''}"
              >
                {{index}}
              </th>
              <th>選擇</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in positionList">
              <td
                scope="row"
                v-for="(item1,index1) in positionList[0]"
                :style="{ display: index1=='_id'?'none':''}"
              >
                <input
                  type="text"
                  class="form-control mx-auto text-center"
                  aria-describedby="helpId"
                  style="width: 70px"
                  v-model="item[index1]"
                  :style="{ width: index1=='img' ||index1=='targetName' || index1=='mac'?'372px':'80px'}"
                />
              </td>
              <td>
                <button
                  type="button"
                  name=""
                  id=""
                  class="btn btn-primary"
                  @click="click(item)"
                >
                  進入
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div :style="{ display: selectPosition.position ?'block':'none'}">
        <button class="btn btn-primary mb-2" @click="showWalk=!showWalk">
          切換
        </button>
        <button class="btn btn-primary mb-2" @click="changeBig()">
          查看大圖
        </button>
        <div
          class="container-fluid"
          :style="{ display: !bigImg?'block':'none'}"
        >
          <div class="row">
            <div class="col-6">
              <canvas
                id="canvas"
                width="800px"
                height="800px"
                @click="clickPosition"
              ></canvas>
            </div>
            <div class="col-4">
              <div class="form-group ml-2" v-if="showWalk">
                <h1>新增可走區域</h1>
                <div class="d-flex flex-row justify-content-around">
                  <div>
                    <label for="">X</label>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="helpId"
                      placeholder=""
                      v-model="input.x"
                    />
                    <label for="">Y</label>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="helpId"
                      placeholder=""
                      v-model="input.y"
                    />
                  </div>
                  <div>
                    <label for="">X1</label>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="helpId"
                      placeholder=""
                      v-model="input.x1"
                    />
                    <label for="">Y1</label>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="helpId"
                      placeholder=""
                      v-model="input.y1"
                    />
                  </div>
                  <div>
                    <label for="">Position</label>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="helpId"
                      placeholder=""
                      v-model="input.position"
                    />
                  </div>
                </div>
                <hr />
                <label for="">X</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="helpId"
                  placeholder=""
                  v-model="mouse.x"
                />
                <label for="">Y</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="helpId"
                  placeholder=""
                  v-model="mouse.y"
                />

                <button
                  class="btn btn-primary mt-2"
                  @click="nextPoint()"
                  v-if="nowPointIndex!=1"
                >
                  下個點{{nowPointIndex}}
                </button>
                <button
                  class="btn btn-primary mt-2"
                  @click="nowPointIndex--"
                  v-if="nowPointIndex>0"
                >
                  上個點{{nowPointIndex}}
                </button>
                <button
                  class="btn btn-primary mt-2"
                  @click="PostData('walk',input)"
                  v-if="nowPointIndex==1"
                >
                  送出
                </button>
                <hr />
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th
                          v-for="(item,index) in Walk[0]"
                          v-if="index!='createdAt' && index!='updatedAt' && index!='__v' && index!='_id'"
                        >
                          {{index}}
                        </th>
                        <th colspan="2" class="text-center">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item1,index1) in Walk">
                        <template
                          v-for="(item,index) in Walk[0]"
                          v-if="index!='createdAt' && index!='updatedAt' && index!='__v' && index!='_id'"
                        >
                          <td scope="row" class="my-auto">
                            <input
                              type="text"
                              v-model="item1[index]"
                              style="width: 50px"
                            />
                          </td>
                        </template>
                        <td>
                          <button
                            class="btn btn-info"
                            @click="PutData('walk',item1)"
                          >
                            修改
                          </button>
                        </td>
                        <td>
                          <button
                            class="btn btn-danger"
                            @click="DelData('walk',item1._id)"
                          >
                            刪除
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div v-else class="mx-2">
                <h1>新增目標位子</h1>
                <div class="d-flex flex-column justify-content-around">
                  <div>
                    <label for="">X</label>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="helpId"
                      v-model="targetinput.x"
                    />
                  </div>
                  <div>
                    <label for="">Y</label>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="helpId"
                      v-model="targetinput.y"
                    />
                  </div>
                  <div>
                    <label for="">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="targetinput.targetName"
                      placeholder="Name"
                    />
                  </div>
                  <div>
                    <label for="">Position</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="targetinput.position"
                      placeholder="Name"
                    />
                  </div>

                  <button
                    class="btn btn-primary mt-2"
                    @click="PostData('target-point',targetinput)"
                  >
                    送出
                  </button>
                  <hr />
                  <div class="table-responsive">
                    <table class="table" v-if="targetPoint.length">
                      <thead>
                        <tr>
                          <th
                            v-for="(item,index) in targetPoint[0]"
                            v-if="index!='createdAt' && index!='updatedAt' && index!='__v' && index!='_id'"
                          >
                            {{index}}
                          </th>
                          <th colspan="2" class="text-center">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item1,index1) in targetPoint">
                          <template
                            v-for="(item,index) in targetPoint[0]"
                            v-if="index!='createdAt' && index!='updatedAt' && index!='__v' && index!='_id'"
                          >
                            <td scope="row" class="my-auto">
                              <input
                                type="text"
                                v-model="item1[index]"
                                style="width: 50px"
                              />
                            </td>
                          </template>
                          <td>
                            <button
                              class="btn btn-info"
                              @click="PutData('target-point',item1)"
                            >
                              修改
                            </button>
                          </td>
                          <td>
                            <button
                              class="btn btn-danger"
                              @click="DelData('target-point',item1._id)"
                            >
                              刪除
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid" :style="{ display: bigImg?'block':'none'}">
          <canvas id="canvas2" width="1600px" height="1600px"></canvas>
        </div>
      </div>
    </div>

    <!-- <drawing-board></drawing-board> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          positionList: [],
          input: {
            x: 0,
            y: 0,
            x1: 0,
            y1: 0,
            position: "7F",
          },
          bigImg: false,
          showWalk: true,
          mouse: {
            x: 0,
            y: 0,
          },
          count: 0,
          targetinput: {
            x: 0,
            y: 0,
            position: "7F",
            targetName: "",
          },
          tmpinput: {},
          tmptargetinput: {},
          selectPosition: { name: "" },
          targetPoint: [],
          nowPointIndex: 0,
          tags: [],
          Walk: [],
          photoLocation: [],
        },
        methods: {
          async PostData(URL, data) {
            if (URL == "walk") {
              this.nextPoint()
            }
            const res = await axios.post(
              "http://120.105.161.209:3000/" + URL,
              data
            )
            this.mouse = {
              x: 0,
              y: 0,
            }
            this.targetinput = JSON.parse(JSON.stringify(this.tmptargetinput))
            this.input = JSON.parse(JSON.stringify(this.tmpinput))
            await this.fecthAll()
          },
          async changeBig() {
            this.bigImg = !this.bigImg
            if (this.bigImg) {
              await this.push2()
              await this.Bigdraw2()
            } else {
              await this.fecthAll()
            }
          },
          async PutData(URL, data) {
            const res = await axios.put(
              "http://120.105.161.209:3000/" + URL + "/" + data._id,
              data
            )
            await this.fecthAll()
          },
          async DelData(URL, _id) {
            const res = await axios.delete(
              "http://120.105.161.209:3000/" + URL + "/" + _id
            )
            await this.fecthAll()
          },
          nextPoint() {
            switch (this.nowPointIndex) {
              case 0:
                this.input.x = this.mouse.x
                this.input.y = this.mouse.y
                break
              case 1:
                this.input.x1 = this.mouse.x
                this.input.y1 = this.mouse.y
                break
              default:
                break
            }
            this.mouse = {
              x: 0,
              y: 0,
            }
            this.nowPointIndex++
            this.nowPointIndex %= 2
          },
          getPosition(element) {
            var x = 0
            var y = 0
            // 搭配上面的示意圖可比較輕鬆理解為何要這麼計算
            while (element) {
              x += element.offsetLeft - element.scrollLeft + element.clientLeft
              y += element.offsetTop - element.scrollLeft + element.clientTop
              element = element.offsetParent
            }

            return { x: x, y: y }
          },
          clickPosition(event) {
            console.log(event)
            var elem = document.querySelector("canvas")
            var position = this.getPosition(elem)
            this.mouse = {
              x: ((event.pageX - position.x) / (8.46 * 2)).toFixed(2),
              y: ((400 * 2 - event.pageY + position.y) / (7.7 * 2)).toFixed(2),
            }
            this.targetinput.x = this.mouse.x
            this.targetinput.y = this.mouse.y
          },
          async fecthAll() {
            fetchList = [
              "position-tags",
              "walk",
              "target-point",
              "photo-location",
            ]
            await fetchList.forEach(async (el) => {
              const res = await axios.get(
                `http://120.105.161.209:3000/${el}?query={"where":{"position":"${this.selectPosition.position}"},"limit":100,"page":1}`
              )
              switch (el) {
                case "position-tags":
                  this.tags = res.data.data
                  break
                case "walk":
                  this.Walk = res.data.data
                  break
                case "target-point":
                  this.targetPoint = res.data.data
                  break
                case "photo-location":
                  this.photoLocation = res.data.data
                  await this.push()
                  break
                default:
                  break
              }
            })
          },
          async draw() {
            await this.tags.forEach((el) => {
              let ctx7 = canvas.getContext("2d")
              ctx7.fillStyle = "#FF0000"
              ctx7.beginPath()
              ctx7.arc(
                el.x * 8.46 * 2,
                400 * 2 - el.y * 7.7 * 2,
                10,
                0,
                2 * Math.PI
              )
              ctx7.stroke()
              ctx7.fill()
              ctx7.fillStyle = "#000000"
              ctx7.font = "18px Arial"
              ctx7.fillText(
                el.mac.substring(12, 17),
                el.x * 8.46 * 2 - 15,
                400 * 2 - el.y * 7.7 * 2 + 20
              )
            })
          },
          async draw4(x, x1, y, y1) {
            x = parseFloat(x)
            x1 = parseFloat(x1)
            y = parseFloat(y)
            y1 = parseFloat(y1)
            let ctx7 = canvas.getContext("2d")
            ctx7.fillStyle = "#0000FF"
            ctx7.font = "14px Arial"

            if (
              Math.abs(400 * 2 - y1 * 7.7 * 2 - 400 * 2 - y * 7.7 * 2) >
              x1 * 8.46 * 2 - x * 8.46 * 2
            ) {
              x += x1
              x /= 2
              for (let i = y - 1; i > y1; i -= 4.5) {
                ctx7.beginPath()
                ctx7.arc(x * 8.46 * 2, 400 * 2 - i * 7.7 * 2, 2, 0, 6 * Math.PI)
                ctx7.stroke()
                ctx7.fill()
                data = {
                  x: x,
                  y: i,
                  num: this.count,
                  position: this.input.position,
                }
                // const res = await axios.post(
                //   "http://120.105.161.209:3000/photo-location",
                //   data
                // )
                // this.count++
                // console.log(res.data)
              }

              return
            }
            y += y1
            y /= 2
            for (let i = parseInt(x) + 1; i < x1; i += 4.5) {
              ctx7.beginPath()
              ctx7.arc(i * 8.46 * 2, 400 * 2 - y * 7.7 * 2, 2, 0, 6 * Math.PI)
              ctx7.stroke()
              ctx7.fill()
              data = {
                x: i,
                y: y,
                num: this.count,
                position: this.input.position,
              }
              this.count++
              console.log(data)
            }
          },
          async draw2() {
            console.log(this.Walk)
            await this.Walk.forEach((el) => {
              let ctx7 = canvas.getContext("2d")
              ctx7.fillStyle = "rgba(0,255,0,0.5)"
              ctx7.fillRect(
                el.x * 8.46 * 2,
                400 * 2 - el.y * 7.7 * 2,
                el.x1 * 8.46 * 2 - el.x * 8.46 * 2,
                400 * 2 - el.y1 * 7.7 * 2 - (400 * 2 - el.y * 7.7 * 2)
              )
              if (el.x1 - el.x > 2.5) {
                this.draw4(el.x, el.x1, el.y, el.y1)
              }
            })
          },
          async Bigdraw2() {
            console.log(this.Walk)
            await this.Walk.forEach((el) => {
              let ctx7 = canvas2.getContext("2d")
              ctx7.fillStyle = "rgba(0,255,0,0.5)"
              ctx7.fillRect(
                el.x * 8.46 * 4,
                400 * 4 - el.y * 7.7 * 4,
                el.x1 * 8.46 * 4 - el.x * 8.46 * 4,
                400 * 4 - el.y1 * 7.7 * 4 - (400 * 4 - el.y * 7.7 * 4)
              )
            })
          },
          async draw3() {
            await this.targetPoint.forEach((el) => {
              let ctx7 = canvas.getContext("2d")
              ctx7.fillStyle = "#FFFF00"
              ctx7.beginPath()
              ctx7.arc(
                el.x * 8.46 * 2,
                400 * 2 - el.y * 7.7 * 2,
                10,
                0,
                10 * Math.PI
              )
              ctx7.stroke()
              ctx7.fill()
              ctx7.fillStyle = "#000000"
              ctx7.font = "14px Arial"
              ctx7.fillText(
                el.targetName,
                el.x * 8.46 * 2 - 15,
                400 * 2 - el.y * 7.7 * 2 + 20
              )
            })
          },
          async drawPhoto() {
            await this.photoLocation.forEach((el) => {
              let ctx7 = canvas.getContext("2d")
              ctx7.fillStyle = "#0000FF"
              ctx7.beginPath()
              ctx7.arc(
                el.x * 8.46 * 2,
                400 * 2 - el.y * 7.7 * 2,
                8,
                0,
                2 * Math.PI
              )
              ctx7.stroke()
              ctx7.fill()
              ctx7.fillStyle = "#000000"
              ctx7.font = "14px Arial"
              ctx7.fillText(
                el.num,
                el.x * 8.46 * 2 - 15,
                400 * 2 - el.y * 7.7 * 2 + 20
              )
            })
          },
          async push() {
            var c = document.getElementById("canvas")
            var ctx = c.getContext("2d")
            ctx.imageSmoothingEnabled = false
            var image = new Image()
            image.src = this.selectPosition.img
            image.onload = async function () {
              if (image.complete) {
                await ctx.drawImage(this, 0, 0, c.scrollWidth, c.scrollHeight)
                console.log("complete")
                // await app.draw2()
                // await app.draw()
                // await app.draw3()
                await app.drawPhoto()
              }
            }
          },
          async push2() {
            var c = document.getElementById("canvas2")
            var ctx = c.getContext("2d")
            ctx.translate(0.5, 0.5)
            ctx.imageSmoothingEnabled = false
            var image = new Image()
            image.src = this.selectPosition.img
            image.onload = async function () {
              if (image.complete) {
                await ctx.drawImage(this, 0, 0, 1600, 1600)
                console.log("complete")
                await app.Bigdraw2()
                // await app.draw()
                // await app.draw3()
              }
            }
          },
          async fetchPositionList() {
            const res = await axios.get(
              `http://120.105.161.209:3000/position?query={"where":{},"limit":100,"page":1}`
            )
            res.data.data.forEach((el) => {
              delete el.createdAt
              delete el.updatedAt
              delete el.__v
              delete el.rotate
              delete el.sinCoefficient
            })
            this.positionList = res.data.data
          },
          async click(val) {
            this.selectPosition = val
            this.input.position = val.position
            this.tmpinput = JSON.parse(JSON.stringify(this.input))
            this.targetinput.position = val.position
            this.tmptargetinput = JSON.parse(JSON.stringify(this.targetinput))
            await this.fecthAll()
          },
        },
        async created() {
          await this.fetchPositionList()
        },
      })
    </script>
  </body>
</html>
