<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin: 2rem;
        background: #eee;
      }

      canvas {
        background: white;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="d-flex flex-row">
        <canvas
          id="canvas"
          width="800px"
          height="800px"
          @click="clickPosition"
        ></canvas>
        <div class="form-group ml-2" v-if="Walk">
          <h1>新增可走區域</h1>
          <div class="d-flex flex-row justify-content-around">
            <div>
              <label for="">X</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                placeholder=""
                v-model="input.x"
              />
              <label for="">Y</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                placeholder=""
                v-model="input.y"
              />
            </div>
            <div>
              <label for="">X1</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                placeholder=""
                v-model="input.x1"
              />
              <label for="">Y1</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                placeholder=""
                v-model="input.y1"
              />
            </div>
            <div>
              <label for="">X2</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                placeholder=""
                v-model="input.x2"
              />
              <label for="">Y2</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                placeholder=""
                v-model="input.y2"
              />
            </div>
            <div>
              <label for="">X3</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                placeholder=""
                v-model="input.x3"
              />
              <label for="">Y3</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                placeholder=""
                v-model="input.y3"
              />
            </div>
          </div>
          <hr />
          <label for="">X</label>
          <input
            type="text"
            class="form-control"
            aria-describedby="helpId"
            placeholder=""
            v-model="mouse.x"
          />
          <label for="">Y</label>
          <input
            type="text"
            class="form-control"
            aria-describedby="helpId"
            placeholder=""
            v-model="mouse.y"
          />

          <button
            class="btn btn-primary mt-2"
            @click="nextPoint()"
            v-if="nowPointIndex!=3"
          >
            下個點{{nowPointIndex}}
          </button>
          <button
            class="btn btn-primary mt-2"
            @click="prePoint()"
            v-if="nowPointIndex>0"
          >
            上個點{{nowPointIndex}}
          </button>
          <button
            class="btn btn-primary mt-2"
            @click="PostWalk()"
            v-if="nowPointIndex==3"
          >
            送出
          </button>
          <table class="table" v-if="Walk.length">
            <thead>
              <tr>
                <th
                  v-for="(item,index) in Walk[0]"
                  v-if="index!='createdAt' && index!='updatedAt' && index!='__v' && index!='_id'"
                >
                  {{index}}
                </th>
                <th colspan="2" class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item1,index1) in Walk">
                <template
                  v-for="(item,index) in Walk[0]"
                  v-if="index!='createdAt' && index!='updatedAt' && index!='__v' && index!='_id'"
                >
                  <td scope="row" class="my-auto">
                    <input
                      type="text"
                      v-model="item1[index]"
                      style="width: 50px"
                    />
                  </td>
                </template>
                <td>
                  <button class="btn btn-info" @click="putWalk(item1)">
                    修改
                  </button>
                </td>
                <td><button class="btn btn-danger">刪除</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-else class="mx-2">
          <h1>新增目標位子</h1>
          <div class="d-flex flex-column justify-content-around">
            <div>
              <label for="">X</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                v-model="mouse.x"
              />
            </div>
            <div>
              <label for="">Y</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                v-model="mouse.y"
              />
            </div>
            <div>
              <label for="">Name</label>
              <input
                type="text"
                class="form-control"
                v-model="targetinput.targetName"
                placeholder="Name"
              />
            </div>
            <div>
              <label for="">Position</label>
              <input
                type="text"
                class="form-control"
                v-model="targetinput.position"
                placeholder="Name"
              />
            </div>

            <button class="btn btn-primary mt-2" @click="PostTarget()">
              送出
            </button>
            <hr />
            <table class="table" v-if="targetPoint.length">
              <thead>
                <tr>
                  <th
                    v-for="(item,index) in targetPoint[0]"
                    v-if="index!='createdAt' && index!='updatedAt' && index!='__v' && index!='_id'"
                  >
                    {{index}}
                  </th>
                  <th colspan="2" class="text-center">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item1,index1) in targetPoint">
                  <template
                    v-for="(item,index) in targetPoint[0]"
                    v-if="index!='createdAt' && index!='updatedAt' && index!='__v' && index!='_id'"
                  >
                    <td scope="row" class="my-auto">
                      <input
                        type="text"
                        v-model="item1[index]"
                        style="width: 50px"
                      />
                    </td>
                  </template>
                  <td>
                    <button class="btn btn-info" @click="putTarget(item1)">
                      修改
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-danger" @click="deletTarget(item1)">
                      刪除
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-2" @click="Walk=!Walk">切換</button>
    </div>

    <!-- <drawing-board></drawing-board> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          input: {
            x: 0,
            y: 0,
            x1: 0,
            y1: 0,
            x2: 0,
            y2: 0,
            x3: 0,
            y3: 0,
          },
          Walk: true,
          mouse: {
            x: 0,
            y: 0,
          },
          targetinput: {
            x: 0,
            y: 0,
            position: "7F",
            targetName: "",
          },
          targetPoint: [],
          nowPointIndex: 0,
          tags: [],
          Walk: [],
        },
        methods: {
          async putWalk(val) {
            console.log(val)
            val.position = "7F"
            const res = await axios.put(
              "http://120.105.161.209:3000/walk/" + val._id,
              val
            )
            await this.fecthAll()
          },
          async PostTarget() {
            this.targetinput.x = this.mouse.x
            this.targetinput.y = this.mouse.y
            const res = await axios.post(
              "http://120.105.161.209:3000/target-point",
              this.targetinput
            )
            this.mouse = {
              x: 0,
              y: 0,
            }
            this.targetinput = {
              x: 0,
              y: 0,
              position: "7F",
              targetName: "",
            }
            await this.fecthAll()
          },
          async PostWalk() {
            this.nextPoint()
            const res = await axios.post(
              "http://120.105.161.209:3000/walk",
              this.input
            )
            this.input = {
              x: 0,
              y: 0,
              x1: 0,
              y1: 0,
              x2: 0,
              y2: 0,
              x3: 0,
              y3: 0,
            }
            await this.fecthAll()
          },
          async putTarget(val) {
            const res = await axios.put(
              "http://120.105.161.209:3000/target-point/" + val._id,
              val
            )
            await this.fecthAll()
          },
          nextPoint() {
            switch (this.nowPointIndex) {
              case 0:
                this.input.x = this.mouse.x
                this.input.y = this.mouse.y
                break
              case 1:
                this.input.x1 = this.mouse.x
                this.input.y1 = this.mouse.y
                break
              case 2:
                this.input.x2 = this.mouse.x
                this.input.y2 = this.mouse.y
                break
              case 3:
                this.input.x3 = this.mouse.x
                this.input.y3 = this.mouse.y
                break
              default:
                break
            }
            this.mouse = {
              x: 0,
              y: 0,
            }
            this.nowPointIndex++
            this.nowPointIndex %= 4
          },
          getPosition(element) {
            var x = 0
            var y = 0
            // 搭配上面的示意圖可比較輕鬆理解為何要這麼計算
            while (element) {
              x += element.offsetLeft - element.scrollLeft + element.clientLeft
              y += element.offsetTop - element.scrollLeft + element.clientTop
              element = element.offsetParent
            }

            return { x: x, y: y }
          },
          clickPosition(event) {
            var elem = document.querySelector("canvas")
            var position = this.getPosition(elem)
            this.mouse = {
              x: ((event.pageX - position.x) / (8.46 * 2)).toFixed(2),
              y: ((400 * 2 - event.pageY + position.y) / (7.7 * 2)).toFixed(2),
            }
          },
          async fecthAll() {
            await this.fetch()
            await this.fetch2()
            await this.fetch3()
            await this.push()
          },
          async fetch() {
            const res = await axios.get(
              "http://120.105.161.209:3000/position-tags?query=%7B%22where%22%3A%7B%7D%2C%22limit%22%3A100%2C%22page%22%3A1%7D"
            )
            this.tags = res.data.data
          },
          async fetch2() {
            const res = await axios.get(
              "http://120.105.161.209:3000/walk?query=%7B%22where%22%3A%7B%7D%2C%22limit%22%3A100%2C%22page%22%3A1%7D"
            )
            this.Walk = res.data.data
          },
          async fetch3() {
            const res = await axios.get(
              "http://120.105.161.209:3000/target-point?query=%7B%22where%22%3A%7B%7D%2C%22limit%22%3A100%2C%22page%22%3A1%7D"
            )
            this.targetPoint = res.data.data
          },
          draw() {
            this.tags.forEach((el) => {
              let ctx7 = canvas.getContext("2d")
              ctx7.fillStyle = "#FF0000"
              ctx7.beginPath()
              ctx7.arc(
                el.x * 8.46 * 2,
                400 * 2 - el.y * 7.7 * 2,
                2,
                0,
                2 * Math.PI
              )
              ctx7.stroke()
              ctx7.fill()
              ctx7.fillStyle = "#000000"
              ctx7.font = "14px Arial"
              ctx7.fillText(
                el.mac.substring(12, 17),
                el.x * 8.46 * 2 - 15,
                400 * 2 - el.y * 7.7 * 2 + 20
              )
            })
          },
          draw2() {
            console.log(this.Walk)
            this.Walk.forEach((el) => {
              let ctx7 = canvas.getContext("2d")
              ctx7.fillStyle = "rgba(0,255,0,0.5)"
              ctx7.fillRect(
                el.x * 8.46 * 2,
                400 * 2 - el.y * 7.7 * 2,
                el.x1 * 8.46 * 2 - el.x * 8.46 * 2,
                400 * 2 - el.y2 * 7.7 * 2 - (400 * 2 - el.y * 7.7 * 2)
              )
            })
          },
          draw3() {
            this.targetPoint.forEach((el) => {
              let ctx7 = canvas.getContext("2d")
              ctx7.fillStyle = "#FFFF00"
              ctx7.beginPath()
              ctx7.arc(
                el.x * 8.46 * 2,
                400 * 2 - el.y * 7.7 * 2,
                2,
                0,
                2 * Math.PI
              )
              ctx7.stroke()
              ctx7.fill()
              ctx7.fillStyle = "#000000"
              ctx7.font = "14px Arial"
              ctx7.fillText(
                el.targetName,
                el.x * 8.46 * 2 - 15,
                400 * 2 - el.y * 7.7 * 2 + 20
              )
            })
          },
          prePoint() {
            this.nowPointIndex--
          },
          async push() {
            var c = document.getElementById("canvas")
            var ctx = c.getContext("2d")
            ctx.translate(0.5, 0.5)
            ctx.imageSmoothingEnabled = false
            var image = new Image()
            image.src = "http://120.105.161.209/Nursemaid/image/7F.png"
            image.onload = async function () {
              if (image.complete) {
                await ctx.drawImage(this, 0, 0, c.scrollWidth, c.scrollHeight)
                console.log("complete")
                await app.draw2()
                await app.draw()
                await app.draw3()
              }
            }
          },
        },
        async created() {
          await this.fecthAll()
        },
      })
    </script>
  </body>
</html>
